

.tree {
    width:200px;
    background-color: lightblue;
    font-size:0px;
    line-height: 0px;
    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 1;
}

.tree:hover .christmas-balls{
    transform: scale(1.4);
    animation: lights 1s infinite;
}


.rotate {
    transform: rotateY(180deg);
}

.tree_side {
    width:47%;
    
    display: inline-block;
}


.branch {
    border-bottom: 10px solid green;
    width:70px;
    transform: rotate(150deg);
    height: 37px;
    float:right;
    margin-right: -5px;
    animation: wind 2s infinite;
}


.branch.first {
    width:52px;
}

.branch.second {
    width:63px;
} 

.tree_main {
    background-color: brown; 
    display: inline-block;
    width:6%;
    height: 135px;
    
}

.christmas-balls {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: gold;
    border-radius: 50%;
    animation: lights 2s infinite;
    
}

.christmas-balls.one {
    left: 71px;
}

.christmas-balls.two{
    bottom: 85px;
    left: 46px;
}


.christmas-balls.three{
    bottom: 65px;
    left: 70px;
}

.christmas-balls.four{
    bottom: 46px;
    left: 40px;
}

.christmas-balls.five{
    bottom: 6px;
    left: 33px;
}


.christmas-balls.six{
    bottom: 23px;
    left: 62px;
}

@keyframes lights{
    0% {
        
        background-color: gold;
    }    

    25% {
        
        background-color: red
    }

    50% {
        
        background-color:white;
    }

    75% {
        
        background-color: red;
    }

    100% {   
        
        background-color: gold;
    }
}


@keyframes wind{
    0% {
        transform: rotate(150deg);
    }    

    50% {
        
        transform: rotate(158deg);
    }

    100% {
        transform: rotate(150deg);
    }  
}